<div class="loginbox">

     <form name="myForm" class="loginform">
       <div class="Header">
       <h1>Forget Password</h1>
     </div>
         <div class="form-group">
         <md-input-container class="md-block">
           <label>Email</label>
           <input required type="email" name="email" ng-model="email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

            <div ng-messages="regForm.useremail.$error" role="alert">
            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">Your email must be between 10 and 100 characters long and look like an e-mail address.</div>
         </div>
       </md-input-container>


           <div>
             <md-button class="md-raised" ng-click="ResetPassword()">ResetPassword</md-button>
           </div>
     </form>
   </div>
