<div class="loginbox">

     <form name="myForm" class="loginform">
       <div class="Header">
       <h1>Reset Password</h1>
     </div>
         <div class="form-group">
         <md-input-container class="md-block" flex-gt-sm>
           <label>New Password</label>
           <input type="password" name="password" ng-model="password" placeholder="Password is required" required=""/>
       </md-input-container>


           <div>
             <md-button class="md-raised" ng-click="Reset()">Reset</md-button>
           </div>
     </form>
   </div>
